.main {
    padding-top: 60px;
    @media only screen and (max-width: 768px) {
        padding-top: 25px;
    }
}

.reservation {
    &__title {
        padding-left: 20px;
        margin-bottom: 15px;
        @media only screen and (max-width: 768px) {
            padding-left: 0;
        }
    }
    @media only screen and (max-width: 768px) {
        margin-bottom: 15px;
    }

    .offers-count {
        &__number {
            margin-right: 10px;
            color: $secondary-bg-color;
        }

        &__text {
            color: rgb(175, 175, 175);
        }
    }

    .form-main {
        &__input {
            display: block;
            width: 429px;
            min-height: 45px;
            padding: 15px;
            margin-bottom: 20px;
            border: none;
            border-radius: 10px;    
            &::-webkit-input-placeholder,
            &::-moz-placeholder,
            &::placeholder,
            &:-ms-input-placeholder {
                color: rgb(175, 175, 175);
            }
            &:last-child {
                margin-bottom: 0;
            }
            @media only screen and (max-width: 992px) {
                width: 100%;
            }
        }
    
        &__btn {
            width: 130px;
            padding: 15px;
            font-weight: 800;
            color: #fff;
            background: $secondary-bg-color;
            border-radius: 8px;
            &:hover {
                @include hover-bg(#a97c20, .3s);
            }
            @media only screen and (max-width: 768px) {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
}

.offers {
    &__title {
        padding-left: 20px;
        margin-bottom: 15px;
        @media only screen and (max-width: 768px) {
            padding-left: 0;
        }
    }
    
    @media only screen and (max-width: 768px) {
        margin-bottom: 15px;
    }
}

.offer-block {
    position: relative;
    min-height: 271px;
    padding: 0 30px 36px 30px;
    padding-top: calc(100% - 334px);
    @media only screen and (max-width: 768px) {
        padding-top: calc(100% - 235px);
    }
    @media only screen and (max-width: 576px) {
        padding-top: calc(100% - 174px);
    }
    @media only screen and (max-width: 425px) {
        padding-top: calc(100% - 238px);
    }
    &__title {
        margin-bottom: 7px;
        font-size: 67px;
        line-height: 1;
        color: #fff;
        @media only screen and (max-width: 768px) {
            font-size: 41px;
        }
    }
    &__price {
        margin-right: 15px;
        font-size: 35px;
        color: #868686;
    }
    
    &__link {
        position: relative;
        display: inline-block;
        color: #c93;
        &::after {
            position: absolute;
            top: 6px;
            right: -23px;
            width: 13px;
            height: 2px;
            content: '';
            background: #c93;
            @include transform-rotate(45deg);
        }

        &::before {
            position: absolute;
            top: 9px;
            right: -17px;
            width: 2px;
            height: 13px;
            content: '';
            background: #c93;
            @include transform-rotate(-135deg);
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        filter: brightness(0.5);
    }
}

.about {
    padding-left: 25px;
    margin: 60px 0;
    @media only screen and (max-width: 576px) {
        padding-left: 0;
        margin: 15px 0;
    }
    &__title {
        margin-bottom: 30px;
        @media only screen and (max-width: 576px) {
            margin-bottom: 10px;
        }
    }

    &__text {
        line-height: 1.5;
        color: #888;
    }
}

.services {
    @media only screen and (max-width: 768px) {
        padding-left: 0;
    }
    &__title {
        padding-left: 25px;
        margin-bottom: 20px;
    }
}

.services-item {
    margin-bottom: 25px;
    background: #fff;
    &__wrap {
        padding: 20px;
        @media only screen and (max-width: 768px) {
            padding: 10px;
        }
    }

    &__title {
        margin-bottom: 10px;
        @media only screen and (max-width: 768px) {
           font-size: 17px;
        }
    }

    &__link {
        position: relative;
        color: $secondary-bg-color;
        &:hover {
            @include transition-ease(all, .2s);
            padding-bottom: 1px;
            border-bottom: 1px solid $secondary-bg-color;
        }
        &:after {
            position: absolute;
            width: 20px;
            height: 20px;
            content: '';
            background: url('../img/arrow.png') no-repeat;
            background-position: center;
        }
    }

    &__text {
        font-size: 14px;
    }
}

.advantages {
    &__title {
        padding-left: 25px;
        margin-bottom: 20px;
    }
}

.advantages-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 38px;
    margin-bottom: 20px;
    background: #fff;
    &__img {
        margin-bottom: 20px;
    }
    &__text {
        line-height: 1.5;
    }
}