.main {
    padding-top: 60px;
    @media only screen and (max-width: 768px) {
        padding-top: 25px;
    }
}

.reservation {
    &__title {
        padding-left: 20px;
        margin-bottom: 15px;
        @media only screen and (max-width: 768px) {
            padding-left: 0;
        }
    }
    @media only screen and (max-width: 768px) {
        margin-bottom: 15px;
    }

    .offers-count {
        &__number {
            margin-right: 10px;
            color: $secondary-bg-color;
        }

        &__text {
            color: rgb(175, 175, 175);
        }
    }
}

.form-main {
    &__input {
        display: block;
        width: 429px;
        min-height: 45px;
        padding: 15px;
        margin-bottom: 20px;
        border: none;
        border-radius: 10px;    
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &::placeholder,
        &:-ms-input-placeholder {
            color: rgb(175, 175, 175);
        }
        &:last-child {
            margin-bottom: 0;
        }
        @media only screen and (max-width: 992px) {
            width: 100%;
        }
    }

    &__btn {
        width: 130px;
        padding: 15px;
        font-weight: 800;
        color: #fff;
        background: $secondary-bg-color;
        border-radius: 8px;
        &:hover {
            @include hover-bg(#a97c20, .3s);
        }
        @media only screen and (max-width: 768px) {
            margin-right: 0;
            margin-bottom: 15px;
        }
        &--white {
            width: 215px;
            padding: 25px;
            color: $secondary-bg-color;
            background: #fff;
            border: 1px solid $secondary-bg-color;
            &:hover {
                @include hover-bg(#e6e6e6, .3s);
            }
            @media only screen and (max-width: 768px) {
                margin-bottom: 0;
            }
        }
    }
}

.offers {
    &__title {
        padding-left: 20px;
        margin-bottom: 15px;
        @media only screen and (max-width: 768px) {
            padding-left: 0;
        }
    }
    
    @media only screen and (max-width: 768px) {
        margin-bottom: 15px;
    }
}

.offer-block {
    position: relative;
    min-height: 271px;
    padding: 0 30px 36px 30px;
    padding-top: calc(100% - 334px);
    @media only screen and (max-width: 768px) {
        padding-top: calc(100% - 235px);
    }
    @media only screen and (max-width: 576px) {
        padding-top: calc(100% - 174px);
    }
    @media only screen and (max-width: 425px) {
        padding-top: calc(100% - 238px);
    }
    &__title {
        margin-bottom: 7px;
        font-size: 67px;
        line-height: 1;
        color: #fff;
        @media only screen and (max-width: 768px) {
            font-size: 41px;
        }
    }
    &__price {
        margin-right: 15px;
        font-size: 35px;
        color: #868686;
    }
    
    &__link {
        position: relative;
        display: inline-block;
        color: #c93;
        &::after {
            position: absolute;
            top: 6px;
            right: -23px;
            width: 13px;
            height: 2px;
            content: '';
            background: #c93;
            @include transform-rotate(45deg);
        }

        &::before {
            position: absolute;
            top: 9px;
            right: -17px;
            width: 2px;
            height: 13px;
            content: '';
            background: #c93;
            @include transform-rotate(-135deg);
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        filter: brightness(0.5);
    }
}

.about {
    padding: 60px 0 60px 25px;
    @media only screen and (max-width: 576px) {
        padding: 30px 0;
    }
    &__title {
        margin-bottom: 30px;
        @media only screen and (max-width: 576px) {
            margin-bottom: 10px;
        }
    }

    &__text {
        line-height: 1.5;
        color: #888;
    }
}

.services {
    margin-bottom: 70px;
    @media only screen and (max-width: 768px) {
        padding-left: 0;
        margin-bottom: 20px;
    }
    &__title {
        padding-left: 25px;
        margin-bottom: 20px;
    }
}

.services-item {
    margin-bottom: 25px;
    background: #fff;
    &__wrap {
        padding: 20px;
        @media only screen and (max-width: 768px) {
            padding: 10px;
        }
    }

    &__title {
        margin-bottom: 10px;
        @media only screen and (max-width: 768px) {
           font-size: 17px;
        }
    }

    &__link {
        position: relative;
        color: $secondary-bg-color;
        &:hover {
            @include transition-ease(all, .2s);
            padding-bottom: 1px;
            border-bottom: 1px solid $secondary-bg-color;
        }
        &:after {
            position: absolute;
            width: 20px;
            height: 20px;
            content: '';
            background: url('../img/arrow.png') no-repeat;
            background-position: center;
        }
    }

    &__text {
        font-size: 14px;
    }
}

.advantages {
    margin-bottom: 70px;
    &__title {
        padding-left: 25px;
        margin-bottom: 20px;
    }
}

.advantages-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 38px;
    margin-bottom: 20px;
    background: #fff;
    &__img {
        margin-bottom: 20px;
    }
    &__text {
        line-height: 1.5;
    }
}

.placement {
    &__title {
        padding-left: 25px;
        margin-bottom: 20px;
    }
}

.placement-item {
    position: relative;
    margin-bottom: 30px;
    background: #fff;
    &__title {
        margin: 20px 0;
        color: #000;
    }

    &__location {
        margin-bottom: 20px;
        color: #a6a6a6;
    }

    &__btn {
        display: inline-block;
        padding: 10px 20px;  
        color: #CC9933;
        border: 1px solid #CC9933;
        border-radius: 20px;
        &:hover {
            background: #f5f5f5;
            @include hover-default(#ab8029, .3s);
        }
    }

    &__link {
        position: relative;
        font-size: 22px;
        color: #fff;
        &:hover {
            @include transition-ease(all, .3s);
            padding-bottom: 1px;
            border-bottom: 1px solid #fff;
        }
    }

    .placement-link-wrap {
        position: absolute;
        bottom: 50px;
        z-index: 1;
        padding: 0px 40px;
    }
}

.placement-wrapper {
    padding: 25px 40px 27px;
}

.placement-price {
    @media only screen and (max-width: 768px) {
        margin-bottom: 10px;
    }
    font-size: 24px;
    line-height: 1em;
    color: #000;
    &:before {
        margin-right: 5px;
        font-size: 15px;
        color: #A6A6A6;
        content: 'от';
    }
    
    &:after {
        margin-left: 5px;
        font-size: 15px;
        content: '/ ночь';
    }
}

.placement-stars {
    display: inline-flex;
    flex-direction: row-reverse;
    &__item {
        font-size: 24px;
        color: #E6E6E6;
    }
}
.rating5 {
    .placement-stars__item {
        color: $rating-color;
    }
}
.rating4 {
    .placement-stars__item + .placement-stars__item:nth-child(n+2) {
        color: $rating-color;
    }
}
.rating3 {
    .placement-stars__item + .placement-stars__item:nth-child(n+3) {
        color: $rating-color;
    }
}
.rating2 {
    .placement-stars__item + .placement-stars__item:nth-child(n+4) {
        color: $rating-color;
    }
}
.rating1 {
    .placement-stars__item + .placement-stars__item:nth-child(n+1) {
        color: $rating-color
    }
}

.contacts {
    &__title {
        padding-left: 25px;
        margin-bottom: 20px;
    }
}

.contacts-info {
    padding: 40px;
    background: #fff;
    @include border-rad(12px);
    @media only screen and (max-width: 768px) {
        padding: 20px;
        margin-bottom: 20px;
    }
    &__wrap {
        padding-bottom: 25px;
        margin-bottom: 30px;
        border-bottom: 1px solid #dadada;
    }

    &__title {
        color: #666;
        @media only screen and (max-width: 768px) {
            margin-bottom: 5px;
        }
    }

    &__link-wrap {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        color: $secondary-bg-color;
    }

    &__tel {
        display: block;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__text {
        &--gray {
            color: #ababab;
        }
    }
}

.write-us {
    text-align: center;
    &__title {
        display: inline-block;
        padding-left: 0;
        margin-bottom: 40px;
    }
}

.form-write-us {
    &__input {
        display: inline-block;
        width: 340px;
        &[name="name"],
        &[name="tel"] {
            padding: 30px;
            @media only screen and (max-width: 768px) {
               padding: 15px;
            }
        }

        &[name="message"] {
            padding: 50px 30px;
            @media only screen and (max-width: 768px) {
                padding: 25px 15px;
            }
        }
    }

    &__btn-wrap {
        display: flex;
        justify-content: center;
    }

    &__btn {
        display: block;
        width: 340px;
    }
}