-
    const inputsReservation = [
        {
            name: 'city',
            placeholder: 'Город',
        },
        {
            name: 'category',
            placeholder: 'Категория номера',
        },
        {
            name: 'date',
            placeholder: 'Дата заселения',
        },
        {
            name: 'night-counts',
            placeholder: 'Количество ночей',
        },
        {
            name: 'guest-counts',
            placeholder: 'Количество гостей',
        },
    ]

    const inputsContacts = [
        {
            name: 'name',
            type: 'text',
            placeholder: 'Город',
        },
        {
            name: 'tel',
            type: 'tel',
            placeholder: '+7 ',
        },
        {
            name: 'message',
            type: 'text',
            placeholder: 'Сообщение...',
        },
    ]

    const services = [
        {
            img: 'img/10@1X',
            link: 'Эксклюзивное обслуживание',
            text: 'Равным образом постоянный количественный рост и сфера нашей акт',
        },
        {
            img: 'img/15@1X',
            link: 'Аренда банкетных залов',
            text: 'Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм.',
        },
        {
            img: 'img/12@1X',
            link: 'Сауны, бассейны, бани, фитнес-залы',
            text: 'Не следует, однако забывать, что начало повседневной работы по формированию позиции',
        },
        {
            img: 'img/carlo-d-agnolo',
            link: 'Охраняемые автомобильные стоянки',
            text: 'Не следует, однако забывать, что начало повседневной работы по формированию позиции',
        },
    ];
    const advantages = [
        {   
            img: 'img/bathtub@1X',
            text: 'Идейные соображения высшего порядка, а также постоянный количественный рост',
        },  
        {   
            img: 'img/hanger@1X',
            text: 'Значимость этих проблем настолько очевидна, что вопрос остается открытым',
        },
        {   
            img: 'img/heating@1X',
            text: 'Таким образом реализация плановых заданий играет важную роль для понимания',
        },
        {   
            img: 'img/hotel-key@1X',
            text: 'Повседневная практика показывает, что сложившаяся структура организации',
        },
        {   
            img: 'img/parking@1X',
            text: 'Равным образом рамки и место обучения кадров способствует подготовки сотрудника',
        },
        {   
            img: 'img/reception@1X',
            text: 'Консультация с активом влечет за собой процесс внедрения услуг нашего сервиса',
        },
        {   
            img: 'img/security-box@1X',
            text: 'Повседневная практика показывает, что дальнейшее развитие различных форм',
        },
        {   
            img: 'img/swimming-pool@1X',  
            text: 'Значимость этого настолько очевидна, что консультация наших экспертов помогает',
        },
    ];

    const placement = [
        {
            ratingClass: 'rating3',
            ratinglabel: '3 звезды',
            img: 'img/23',
            price: '4 698 р',
            title: 'Lagoona español',
            location: 'Барселона, Испания'
        },
        {
            ratingClass: 'rating5',
            ratinglabel: '5 звезд',
            img: 'img/24',
            price: '5 148 р',
            title: 'Lagoona son típicas',
            location: 'Барселона, Испания'
        },
        {   
            ratingClass: 'rating4',
            ratinglabel: '4 звезды',
            img: 'img/25',
            price: '6 254 р',
            title: 'Lagoona de la guerra',
            location: 'Барселона, Испания'
        },
        {   
            ratingClass: 'rating3',
            ratinglabel: '3 звезды',
            img: 'img/26',
            price: '6 320 р',
            title: 'Lagoona mentira piadosa',
            location: 'Барселона, Испания'
        },
        {
            ratingClass: 'rating2',
            ratinglabel: '2 звезды',
            img: 'img/27',
            price: '6 457 р',
            title: 'Lagoona empujar la creatividad',
            location: 'Барселона, Испания'
        },
        {   
            ratingClass: 'rating5',
            ratinglabel: '5 звезд',
            img: 'img/28',
            price: '6 490 р',
            title: 'Lagoona el retorno',
            location: 'Барселона, Испания'
        },
        {   
            ratingClass: 'rating5',
            ratinglabel: '5 звезд',
            img: 'img/29',
            price: '6 505 р',
            title: 'Lagoona enfermo terminó',
            location: 'Барселона, Испания'
        },
        {   
            ratingClass: 'rating4',
            ratinglabel: '4 звезды',
            img: 'img/30',
            price: '6 824 р',
            title: 'Lagoona suerte siguió siempre',
            location: 'Барселона, Испания'
        },
    ];
    const ratings = ['Одна звезда', 'Две звезды', 'Три звезды', 'Четыри звезды','Пять звезд'];