- const menu = ['О нас','Услуги','Преимущества','Размещение','Блог','Контакты'];

header.header-main
    .container
        .top-bar
            .row.justify-content-center
                .col-md-3
                    .top-bar__logo
                        img.lazy.top-bar__img(alt="Логотип", data-src="img/Logo@1X.png")
                .col-md-3.align-self-center
                    a.top-bar__contacts(href="tel:+74953225448") +7 (495) 322-54-48
                .col-md-6.align-self-center
                    a.top-bar__login(href="#") Личный кабинет
        .nav-container
            .row.justify-content-center
                .col-md-12.col-lg-7.align-self-center
                    nav.menu
                        ul.menu__list
                            each item in menu
                                li.menu__item
                                    a.menu__link(href="#")= item
                        button.burger-btn.js-burger-btn(type="button")
                .col-lg-5
                    form.form.form-header(action="#")
                        input.form__input.form-header__input(type="search" placeholder="Поиск")
                        button.form__btn.form-header__btn