<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        link(rel="stylesheet", href="css/normalize.min.css")
        link(rel="stylesheet", href="css/bootstrap-grid.min.css")
        title Lagoona
    body
        include html-components/_header.pug
        include html-components/_main.pug
        script(src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.1.0/dist/lazyload.min.js")
        script(src="js/scripts.js")